[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"
pytest = "*"
pyinstaller = "*"
pytest-cov = "*"
pywin32-ctypes = "*"

[packages]

[requires]
python_version = "3.9"

[scripts]
test = "coverage run -m pytest"
test-dev = "pytest --cov=. -v"
start = "python main.py"
build-linux = "pyinstaller --onefile main.py --add-data \"assets/wordlists.json:assets\" --name hangman-cli_linux_x64"
build-windows = "pyinstaller --onefile main.py --add-data \"assets/wordlists.json;assets\" --name hangman-cli_win_x64"
