[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest-cov = "*"
coverage = "*"

[packages]

[requires]
python_version = "3.9"

[scripts]
test = "coverage run -m pytest --cov=./hangman"
